*{
  margin: 0;
  font-family: Arial;
}

.wrapper{
  margin: 0 auto;
  max-width: 800px;
  margin-top: 20px;
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
}

h1{
  color: rgb(145, 145, 145);
}

header{
  padding: 20px;

  input{
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 15px;
  }
  button{
    border: 2px solid gray;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
  }
}

main{
  background-color: rgb(212, 212, 212);
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  iframe{
    border-radius: 20px;
    padding: 10px;
  }
}

footer{
  height: 100px;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;

  img{
    height: 100px;
    border-radius: 5px;
  }
}

.users, .github{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap:5px;
}

.github{
  img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
}

.mainInfo{
  display: flex;
  gap: 10px;
  align-items: center;
}